@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 5% 3%;
}

a {
  text-decoration: none;
  color: inherit;
}

.city {
  background-color: #f3f3f3;
  text-align: center;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.city p {
  font-weight: 500;
  color: #414141;
}

.function {
  counter-reset: steps;
}
.function li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  margin-bottom: 25px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  box-shadow: 2px 2px 0px lightgrey;
}
.function li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 16px;
  left: -16px;
}
.function li:hover {
  transform: scale(1.02);
}
.function li i {
  color: #7e7e7e;
  margin-right: 16px;
  font-size: 24px;
  position: absolute;
  left: 13%;
}
.function li .i2 {
  color: #9356dc;
}

#bgmodifier {
  background-color: #f5edff;
}

.menus {
  background-color: #f6f6f6;
  padding-top: 10px;
}
.menus .restaurants {
  display: flex;
  flex-direction: column;
}
.menus .single__card {
  display: flex;
  flex-direction: column;
  margin: 0 3%;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 10%;
  box-shadow: 2px 2px 0px lightgrey;
}
.menus .new {
  position: relative;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  height: 25px;
  width: 80px;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 24px;
  top: 16px;
  border-radius: 5px;
}
.menus img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px 25px 0 0;
}
.menus .text-decoration {
  position: relative;
}
.menus .text-decoration i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
}
.menus .text-decoration .fas {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.menus .text-decoration .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.12);
}
.menus .text-decoration p {
  margin-left: 5%;
}
.menus .text-decoration .p1 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.menus .text-decoration .p2 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.reservation {
  text-align: center;
  background-color: #fafafa;
}
.reservation h2 {
  margin: 0;
  font-size: 32px;
  padding-top: 32px;
}
.reservation p {
  font-size: 24px;
  color: #666666;
}
.reservation button {
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(to left top, #9356dc, #ff79da);
  transition: transform 200ms;
  margin-top: 8px;
  margin-bottom: 32px;
  box-shadow: 2px 2px 0px lightgrey;
}
.reservation button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.cbc-menu {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.cbc-menu h2 {
  font-family: "Shrikhand", sans-serif;
  padding: 10px;
  margin: 0;
  margin-left: 3%;
}

.subtitle-menu {
  display: flex;
  position: relative;
  margin-top: -35px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
}
.subtitle-menu i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
}
.subtitle-menu .fas {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.subtitle-menu .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.12);
}

.div-global {
  display: flex;
  flex-direction: column;
}

.p-header-title {
  margin-left: 3%;
}

.div-menu {
  display: flex;
  box-shadow: 0px 0px 5px 1px lightgrey;
  border-radius: 25px;
  background-color: white;
  margin: 0 3%;
}
.div-menu p {
  padding-left: 10px;
}
.div-menu .p-title {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0;
}
.div-menu .p-subtitle {
  color: #5f5f5f;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}

.div-price {
  align-items: center;
  margin-left: auto;
  display: flex;
}

footer {
  background-color: #353535;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer .logoFooter {
  font-family: "Shrikhand";
  font-size: 20px;
}
footer p {
  margin: 0;
  padding: 5px 0;
}
footer i {
  width: 10%;
}

/*HEADER*/
.mainHeader {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 1px 1px 1px lightgrey;
  padding: 0.3% 0;
  margin: 0;
  position: relative;
}

.menupage {
  display: flex;
  box-shadow: none;
}
.menupage h1 {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
}
.menupage a {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.menupage i {
  color: #353535;
  font-size: 20px;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 100ms 2.4s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid #9356dc;
  border-top: 5px solid #ff79da;
  border-left: 5px solid #99e2d0;
  border-radius: 50%;
  animation: spin 0.8s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.image-menu {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

/*# sourceMappingURL=style.css.map */
