@use  "./bases.scss";
@use  "./pages/accueil.scss";
@use "./layouts/footer.scss";
@use "./layouts/header.scss";
@use "./layouts/loader.scss";
@use "./utils/colors.scss";
@use  "./utils/mixin.scss";
@use "./utils/variables.scss";

