@use  "./bases.scss";
@use  "./pages/accueil.scss";
@use  "./pages/Menu1.scss";
@use "./layouts/footer.scss";
@use "./layouts/header.scss";
@use "./layouts/loader.scss";
@use  "./layouts/image-menu.scss";
@use  "./utils/mixin.scss";
@use "./utils/variables.scss";
@use  "./components/bouton.scss";

