@use  "./sass/bases.scss" ;
@use  "./sass/layouts/header.scss" ;
@use  "./sass/layouts/city.scss" ;
@use  "./sass/layouts/reservation.scss";
@use  "./sass/layouts/fonctionnement.scss";
@use  "./sass/layouts/menus.scss";
@use  "./sass/layouts/footer.scss";
@use "./sass/utils/mixin.scss";
@use "./sass/layouts/loader.scss";