@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 5% 3%;
}

/*HEADER*/
.mainHeader {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 1px 1px 1px lightgrey;
  padding: 0.3% 0;
  margin: 0;
  position: relative;
}

.city {
  background-color: #f3f3f3;
  text-align: center;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.reservation {
  text-align: center;
  background-color: #fafafa;
}
.reservation h2 {
  margin: 0;
  font-size: 32px;
  padding-top: 32px;
}
.reservation p {
  font-size: 24px;
  color: #666666;
}
.reservation button {
  color: white;
  font-weight: 400;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  transition: transform 200ms;
  margin-top: 8px;
  margin-bottom: 32px;
  box-shadow: 0 0 5px black;
}
.reservation button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.function {
  counter-reset: steps;
}
.function li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  margin-bottom: 25px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  box-shadow: 0 0 5px black;
}
.function li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 16px;
  left: -16px;
}
.function li__modifier {
  background-color: #f5edff;
}
.function li:hover {
  transform: scale(1.02);
}
.function li i {
  color: #7e7e7e;
  margin-right: 16px;
  font-size: 24px;
  position: absolute;
  left: 13%;
}
.function li .i2 {
  color: #9356dc;
}

.menus {
  background-color: #f6f6f6;
}
.menus .restaurants {
  display: flex;
  flex-direction: column;
}
.menus .single__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  margin: 0 3%;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 10%;
  box-shadow: 0 0 5px black;
}
.menus .new {
  position: relative;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  height: 25px;
  width: 80px;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 24px;
  top: 16px;
}
.menus img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px 25px 0 0;
}
.menus .text-decoration {
  position: relative;
}
.menus i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
}
.menus p {
  margin-left: 5%;
}
.menus .p1 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.menus .p2 {
  margin-top: 5px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
