@use "../utils/mixin.scss";
@use "../utils/variables.scss";

button {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to left top, variables.$primary, variables.$secondary);
    transition: transform 200ms;
    margin-top: 8px;
    margin-bottom: 32px;
    @include mixin.base-shadow;
}
 button:hover {
    @include mixin.transform-zoom;
    opacity: 0.9;
}