@use  "../utils/variables.scss";
@use  "../utils/mixin.scss";
.city {
    background-color: variables.$background1;
    text-align: center;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    & p {
        font-weight: 500 ;
        color: #414141;
    }
}

.function {
    counter-reset: steps;
    & li {
        position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: variables.$primary;
            width: 2 * variables.$base-height;
            height: 2 * variables.$base-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: variables.$base-height;
            left: -1 * variables.$base-height;
        } 
        list-style-type: none;
        background-color: variables.$background3;
        padding: 24px 32px;
        margin-bottom: 25px;
        border-radius: 20px;
        text-align: center;
        width: 90%;
     
        @include mixin.base-shadow;
         &:hover {
             @include mixin.transform-zoom;
            }     
        & i {
            color: variables.$icon-color;
            margin-right: 16px;
            font-size: 24px;
            position: absolute;
            left: 13%;
        }
         & .i2 {
            color: variables.$primary;
        }
       
       
    }
}
#bgmodifier {
    background-color: variables.$li-background;
}

.menus {
    background-color: variables.$background3;
    padding-top: 10px;
    & .restaurants {
        display: flex;
        flex-direction: column;
    }
        & .single__card {
            display: flex;
            flex-direction: column;
            margin: 0 3%;
            border-radius: 25px 25px 25px 25px;
            margin-bottom: 10%;
           @include mixin.base-shadow
        }
            & .new {
                position: relative;
                }
                .new::before {
                    content: "Nouveau";
                    position: absolute;
                    height: 25px;
                    width: 80px;
                    background-color: variables.$third;
                    color: darken(variables.$third, $amount: 50%);
                    display: grid;
                    place-items: center;
                    right: 24px;
                    top: 16px;
                    border-radius: 5px;
                }
                & img {
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 25px 25px 0 0;
                }
       & .text-decoration {
           position: relative;
            & {@include mixin.animated-heart}
             
            & p {
                margin-left: 5%;
            }
            & .p1 {
                margin-top: 10px;
                margin-bottom: 0px;
            }
            & .p2 {
                margin-top: 5px;
                margin-bottom: 20px;
            }
        }
        
}

.reservation {
    text-align: center;
    background-color: variables.$background2;
    & h2 {
        margin: 0;
        font-size: 32px;
        padding-top: 32px;
      }
      & p {
          font-size: 24px;
          color: variables.$font-color1;
      }
      & button {
          color: white;
          font-weight: 600;
          font-size: 20px;
          padding: 16px 32px;
          border: none;
          border-radius: 25px;
          background-image: linear-gradient(to left top, variables.$primary, variables.$secondary);
          transition: transform 200ms;
          margin-top: 8px;
          margin-bottom: 32px;
          @include mixin.base-shadow;
      }
      & button:hover {
          @include mixin.transform-zoom;
          opacity: 0.9;
      }
  }