@use  "../utils/variables.scss";
@use  "../utils/mixin.scss";



.cbc-menu h2 {
    font-family: "Shrikhand", sans-serif;
    padding: 10px;
    margin: 0;
}


.subtitle-menu {
    display: flex;
    position: relative;
    
    & i {
        font-size: 25px;
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translateY(-50%);
    }
    & .fas  {
        color: transparent;
        @include mixin.degrade ;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 400ms ease-in-out;
    }
    & .fas:hover {
        opacity: 1;
        transform: translateY(-50%) scale(1.12);
    }
}