@use  "../utils/variables.scss";
@use  "../utils/mixin.scss";



.cbc-menu {
    background-color: variables.$background3;
    padding-bottom: 50px;
}
.cbc-menu h2 {
    font-family: "Shrikhand", sans-serif;
    padding: 10px;
    margin: 0;
    margin-left: 3%;
}


.subtitle-menu {
    display: flex;
    position: relative;
    margin-top: -35px;
    background-color: variables.$background3;
    border-radius: 35px 35px 0 0;
    & { @include mixin.animated-heart}
}

.div-global {
    display: flex;
    flex-direction: column;
}
.p-header-title {
    margin-left: 3%;
    margin-bottom: 25px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 40px;
        background-color: variables.$third;
        top: 20px;
        left: 0px;
    }
}
.div-allmenu {
    display: flex;
    flex-direction: column;
    gap: 25px ;
    margin-bottom: 20px;
}
.div-menu {
    display: flex;
    @include mixin.base-shadow-menu;
    border-radius: 25px;
    background-color: white;
    margin: 0 3%;
    @include mixin.three-points;
    & .div-menu__text {
       @include mixin.three-points;
    }
    & p {
        padding-left: 10px;
    }
    & .p-title {
        font-weight: 600;
        font-size: 18px;
        margin: 10px 0;
        @include mixin.three-points;
    }
    & .p-subtitle {
        color: #5f5f5f;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 10px;
        @include mixin.three-points;
    }
}

.div-price {
    align-items: end;
    margin-left: auto;
    display: flex;
    color: #525252;
    font-weight: 800;
    padding-right: 10px;
}
.div-hover {
    background-color: variables.$third;
    margin-right: - variables.$button-width;
    width: variables.$button-width;
    transition: all 0.5s;
    display: grid;
    flex-shrink: 0;
    place-items: center;
    & i {
        display: grid;
        place-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        color: variables.$third;

    }
}

.div-menu:hover {
    .div-hover {
    margin-right: 0;
    min-width: variables.$button-width;
}
& i {
    @include mixin.check-spin;
    animation: check-spin 0.7s;
    
}
}

.btn {
    display: grid;
    place-items: center;
    margin-top: 40px;
}