@use "./variables.scss";
@mixin base-shadow {
    box-shadow: 2px 2px 10px lightgrey;
}

@mixin base-shadow-menu {
    box-shadow: 0px 0px 5px 1px lightgrey;
}

@mixin degrade {
    background-image: linear-gradient( #9356dc  , #ff79da);
}
@mixin transform-zoom {
    transform: scale(1.02);
}
@mixin three-points {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

@mixin animated-heart {
    & i {
        font-size: 25px;
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translateY(-50%);
    }
    & .fas  {
        color: transparent;
        @include degrade ;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 400ms ease-in-out;
    }
    & .fas:hover {
        opacity: 1;
        transform: translateY(-50%) scale(1.12);
    }
}

@mixin check-spin {
    @keyframes check-spin {
        0% {
            transform: rotate(-270deg);
        }
        100% {
            transform: rotate(0);
        }
    }
    
}

@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}