$base-height: 16px;
$animation-duration : .8s;
$animation-count : 3;
$button-width : 80px;

$background1 : #f3f3f3 ;
$background2 : #fafafa ;
$background3 : #f6f6f6;
$li-background : #f5edff;
$primary : #9356dc ;
$secondary :#ff79da;
$third : #99e2d0;
$icon-color : #7e7e7e;
$font-color1 : #666666;
$color-footer : #353535;