@use "../utils/colors.scss";

.city {
    background-color: colors.$background1;
    text-align: center;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}