@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";
@use  "../utils/variables.scss";
@use "../utils/colors.scss";


.function {
    counter-reset: steps;
    & li {
        position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: colors.$primary;
            width: 2 * variables.$base-height;
            height: 2 * variables.$base-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: variables.$base-height;
            left: -1 * variables.$base-height;
        }
        &__modifier {
            background-color: colors.$li-background;
        }
        list-style-type: none;
        background-color: colors.$background3;
        padding: 24px 32px;
        margin-bottom: 25px;
        border-radius: 20px;
        text-align: center;
        width: 90%;
        @include box-shadow.base-shadow;
         &:hover {
             @include zoom.transform-zoom;
            }     
        & i {
            color: colors.$icon-color;
            margin-right: 16px;
            font-size: 24px;
            position: absolute;
            left: 13%;
        }
         & .i2 {
            color: colors.$primary;
        }
    }
}