@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";

.function {
    & li {
        background-color: #f6f6f6 ;
        padding: 16px 32px;
        border: 1px solid black;
        margin-bottom: 25px;
        border-radius: 20px;
        @include box-shadow.base-shadow;
         &:hover {
             @include zoom.transform-zoom;
         }
    }
}