@use "../utils/variables.scss";

footer {
    background-color: variables.$color-footer;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    & .logoFooter {
        font-family: "Shrikhand";
        font-size: 20px;
    }
    & p {
       margin: 0;
       padding: 5px 0;
    }
    & i {
        width: 10%;
    }
    
}