/*HEADER*/

.mainHeader {
    font-family: "Shrikhand" , cursive;
    text-align: center;
    box-shadow: 0px 1px 1px 1px lightgrey ;
    padding: 0.3% 0;
    margin: 0;
    position: relative;
}

.menupage {
    display: flex;
    box-shadow: none;
    & h1 {
        margin-left: auto;
        margin-right: auto;
        padding-right: 20px;
    }
    & a {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    & i {
        color: #353535;
        font-size: 20px;
    }
}