@use "../utils/colors.scss";

.menus {
    background-color: colors.$background3;
    & .restaurants {
        display: flex;
        flex-direction: column;
    }
     & .new {
        position: relative;
        }
        .new::before {
            content: "Nouveau";
            position: absolute;
            height: 25px;
            width: 80px;
            background-color: colors.$third;
            color: darken(colors.$third, $amount: 50%);
            display: grid;
            place-items: center;
            right: 24px;
            top: 16px;
        }
        & img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 25px 25px 0 0;
            padding: 0% 3%;
        }
       & .text-decoration {
           position: relative;
       }
       & i {
           font-size: 25px;
           position: absolute;
           top: 50%;
           right: 7%;
           transform: translateY(-50%);
       }
       & p {
           margin-left: 5%;
       }
       & .p1 {
           margin-top: 10px;
           margin-bottom: 0px;
       }
       & .p2 {
           margin-top: 5px;
           margin-bottom: 20px;
       }
        
}