@use "../utils/colors.scss";
@use  "../utils/mixin.scss";


.reservation {
    text-align: center;
    background-color: colors.$background2;
    & h2 {
        margin: 0;
        font-size: 32px;
        padding-top: 32px;
      }
      & p {
          font-size: 24px;
          color: colors.$font-color1;
      }
      & button {
          color: white;
          font-weight: 400;
          font-size: 20px;
          padding: 16px 32px;
          border: none;
          border-radius: 25px;
          background-image: linear-gradient(to top, colors.$primary, colors.$secondary);
          transition: transform 200ms;
          margin-top: 8px;
          margin-bottom: 32px;
          @include mixin.base-shadow;
      }
      & button:hover {
          @include mixin.transform-zoom;
          opacity: 0.9;
      }
  }