@use  "../utils/box-shadow.scss";
@use  "../utils/zoom.scss";

.reservation {
    text-align: center;
    background-color: #fafafa;
    & h2 {
        margin: 0;
        font-size: 32px;
        padding-top: 32px;
      }
      & p {
          font-size: 24px;
          color: #666666;
      }
      & button {
          color: white;
          font-weight: 400;
          font-size: 20px;
          padding: 16px 32px;
          border: none;
          border-radius: 25px;
          background-image: linear-gradient(to top, #9356DC, #ff79da);
          transition: transform 200ms;
          margin-top: 8px;
          margin-bottom: 32px;
          @include box-shadow.base-shadow;
      }
      & button:hover {
          @include zoom.transform-zoom;
          opacity: 0.9;
      }
  }